<ul *ngIf="paginas?.length>0" class='pagination'>
  <li [ngClass]="0 == paginador.number?'disabled page-item':'page-item'">
    <a class="page-link" [routerLink]="['/clientes/page',paginador.number-1]">&laquo;</a>
  </li>
  <li [ngClass]="0 == paginador.number?'disabled page-item':'page-item'">
    <a class="page-link" [routerLink]="['/clientes/page', 0]">First</a>
  </li>
  <li *ngFor="let numeroPagina of paginas" class="page-item" [ngClass]="numeroPagina-1 == paginador.number?'active':''">
    <span class="page-link" *ngIf="numeroPagina-1 == paginador.number">{{numeroPagina}}</span>
    <a class="page-link" *ngIf="numeroPagina-1 != paginador.number" [routerLink]="['/clientes/page',numeroPagina-1]">{{numeroPagina}}</a>
  </li>
  <li [ngClass]="paginador.totalPages-1 == paginador.number?'disabled page-item':'page-item'">
    <a class="page-link" [routerLink]="['/clientes/page', paginador.totalPages-1]">Last</a>
  </li>
  <li [ngClass]="paginador.totalPages-1 == paginador.number?'disabled page-item':'page-item'">
    <a class="page-link" [routerLink]="['/clientes/page',paginador.number+1]">&raquo;</a>
  </li>
</ul>
