<detalle-cliente [cliente] = "selectedClient" *ngIf="selectedClient"></detalle-cliente>
<div class="card border-primary mb-3" style="max-width: 100%;">
    <div class="card-header">Clients</div>
    <div class="card-body text-primary">
        <div *ngIf='clients?.length==0' class="alert alert-info">
            No hay registros en la BBDD
        </div>
        <div *ngIf='clients?.length>0'>
          <h5 class="card-title">Clients List - <button type="button" class="btn btn-primary my-3" (click)="changeAvailable()">{{calculateButtonName()}}</button></h5>
          <div class="my-2 text-left" *ngIf="getAvailable()">
              <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear Cliente</button>
          </div>
          <table class="table" *ngIf="getAvailable()">
              <thead class="thead-dark">
                  <tr>
                      <th *ngIf="authService.hasRole('ROLE_USER')" scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Date of Birth</th>
                      <th *ngIf="authService.hasRole('ROLE_ADMIN')" scope="col">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor = "let client of clients">
                      <td *ngIf="authService.hasRole('ROLE_USER')">
                        <img (click)="openModal(client)" src="http://localhost:8080/api/clients/upload/img/{{client.picture}}"
                        alt="{{client.picture}}" *ngIf="client?.picture" class="img-thumbnail rounded"
                        style="width: 64px; cursor: pointer">
                        <img (click)="openModal(client)" src="http://localhost:8080/images/notuser.png"
                        alt="No Picture" *ngIf="!client?.picture" class="img-thumbnail rounded"
                        style="width: 64px; cursor: pointer">
                      </td>
                      <td>{{client.name}}</td>
                      <td>{{client.lastName | uppercase}}</td>
                      <td>{{client.email}}</td>
                      <td>{{client.birthDate | date:"EEEE dd, MMMM, yyyy"}}</td>
                      <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                        <button  type="button" name="button"
                                [routerLink] ="['/clientes/form', client.id]" class="btn btn-primary">Edit</button>
                        <button type="button" name="button"
                                (click)="borrarCliente(client)" class="btn btn-warning ml-2">Borrar</button>
                      </td>
                  </tr>
              </tbody>
          </table>
          <paginator-nav *ngIf="paginador && getAvailable()" [paginador] = "paginador"></paginator-nav>
        </div>
    </div>
</div>
