<detalle-cliente [cliente] = "selectedClient" *ngIf="selectedClient"></detalle-cliente>
<div class="card border-primary mb-3" style="max-width: 100%;">
    <div class="card-header">Clients</div>
    <div class="card-body text-primary">
        <div *ngIf='clients?.length==0' class="alert alert-info">
            No hay registros en la BBDD
        </div>
        <div *ngIf='clients?.length>0'>
          <h5 class="card-title">Clients List - <button type="button" class="btn btn-primary my-3" (click)="changeAvailable()">{{calculateButtonName()}}</button></h5>
          <div class="my-2 text-left" *ngIf="getAvailable()">
              <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear Cliente</button>
          </div>
          <table class="table" *ngIf="getAvailable()">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col" *ngIf="authService.hasRole('ROLE_USER')">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Date of Birth</th>
                      <th *ngIf="authService.hasRole('ROLE_ADMIN')" scope="col">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor = "let client of clients">
                      <td *ngIf="authService.hasRole('ROLE_USER')">
                        <img (click)="openModal(client)" src="http://localhost:8080/api/clients/upload/img/{{client.picture}}"
                        alt="{{client.picture}}" *ngIf="client?.picture" class="img-thumbnail rounded"
                        style="width: 64px; cursor: pointer">
                        <img (click)="openModal(client)" src="http://localhost:8080/images/notuser.png"
                        alt="No Picture" *ngIf="!client?.picture" class="img-thumbnail rounded"
                        style="width: 64px; cursor: pointer">
                      </td>
                      <td>{{client.name}}</td>
                      <td>{{client.lastName | uppercase}}</td>
                      <td>{{client.email}}</td>
                      <td>{{client.birthDate | date:"EEEE dd, MMMM, yyyy"}}</td>
                      <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                        <button  type="button" name="button"
                                [routerLink] ="['/bills/form', client.id]" class="btn btn-success">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                  <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                                  <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                </svg>
                        </button>
                        <button  type="button" name="button"
                                [routerLink] ="['/clientes/form', client.id]" class="btn btn-primary ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                        </button>
                        <button type="button" name="button"
                                (click)="borrarCliente(client)" class="btn btn-warning ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                </svg>
                        </button>
                      </td>
                  </tr>
              </tbody>
          </table>
          <paginator-nav *ngIf="paginador && getAvailable()" [paginador] = "paginador"></paginator-nav>
        </div>
    </div>
</div>
